#
# Copyright © 2023-2024 Apple Inc. All rights reserved.
#
.DS_Store
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.build
/Packages

xcuserdata/
DerivedData/
Sources/prebuilt/*

# Apache build artifacts
.libs/
*.la
*.lo
*.o
*.slo